extends layout

block content
	div.row.text-center
		div.title.text-center
			h1.text-center= title
			p.text-center Here is the list of rated cars.
		div.standings-wrapper.col-sm-12.text-center
			each car in carData
				div.standing-card.col-sm-4.text-center
					p= car.imageName
					img(src="/images/cars/"+car.imageURL+"" alt="cars")
					if car.totalVotes > 0
						p Cool Factor: +#{car.totalVotes}
					else if car.totalVotes < 0
						p Cool Factor: #{car.totalVotes}
					else if car.totalVotes = 0
						p Cool Factor: 0
